* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}

.root{
    height: 1800px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    height: 100%;
    background: linear-gradient(#82cf07e1,#07e668e3);
    padding-bottom: 30px;
    width: 600px;
    border-radius: 8px;
}
.container1{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    background: linear-gradient(#82cf07e1,#07e668e3);
    padding-bottom: 30px;
    width: 600px;
    border-radius: 8px;
}

.icon{
    height: 20px;
    width: 20px;
}
.regis-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 20px;
}
.logo{
    height: 120px;
    width: 120px;
}
.under{
    width: 60px;
    height: 0px;
    border-radius: 10px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 2rem;
    text-align: center;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}




.input img{
    margin: 0px 30px;
}


.input input{
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color:#808080;
    font-size: 20px;
    margin: 0 0.5rem;
}
.input-date{
    padding: 0 2rem;
}
.input-date input{
    margin: auto;
}
.policy{
    margin: auto;
    color:#eaeaea;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap:30px;
    width: 100%;
    padding: auto;
    align-items: center;
    justify-content: center;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color:#07e668e3 ;
    background: #ffffff;
    border-radius: 60px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.click{
    background: #eaeaea;
    color: #676767;

}
.eyeicon{
    height: 20px;
    width: 20px;
}
.login{
    margin: auto;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.submit:active{
    transform: scale(0.96);
    background: linear-gradient(#82cf07e1,#07e668e3);
    color: #000;
}
.submit:hover{
    width: 230px;
    height: 65px;
}
.login:active{
    transform: scale(0.96);
    color: lawngreen;
}


.signup{
    margin: auto;
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.signup:active{
    transform: scale(0.96);
    color:lawngreen;
}

@media screen and (max-width: 431px) {
    .loginsignup-container{
        padding: 0 1rem;
    }
    .container{
        margin-top: 100px;
        width: 100%;
    }
    .container1{
        margin-top: 60px;
        height: auto;
        width: 100%;
    }
    .inputs{
        padding: 0 1rem;
    }
}